body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e0e0e0, #f8f9fa);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #126ca1;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background: #126ca1;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #efefef;
}

.hero {
    text-align: center;
    background: url('./image/sky.webp') no-repeat center center/cover;
    padding: 100px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
    
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.hero h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.container {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.section {
    margin-bottom: 50px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.offer {
    padding: 20px;
    background: #f1f1f1;
    border-radius: 8px;
    margin: 15px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.offer h3 {
    font-size: 24px;
    color: #2f3b46;
}

.offer p {
    font-size: 16px;
    color: #555;
}


.footer {
    background: #126ca1;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 16px;
    margin-top: 40px;
}
.btn {
    background: #126ca1;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background: #67a5c9;
    transform: scale(1.1);
}